<?xml version="1.0" encoding="utf-8" ?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bonanza"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <permission
        android:name="br.com.bonanza.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="br.com.bonanza.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name="br.com.bonanza.GCMMainActivity"
            android:launchMode="singleTask"
            android:theme="@style/TemaPrincipal"
            android:screenOrientation="portrait" >
            
            <intent-filter>
                
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="br.com.bonanza.GCMMessageView"
            android:screenOrientation="landscape"
            android:theme="@style/AppBaseTheme_NotBar" >
            
        </activity>

        <service android:name="br.com.bonanza.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            
            <intent-filter>
                
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                
                <category android:name="br.com.bonanza" />
                
            </intent-filter>
            
        </receiver>
        
    </application>

</manifest>